article {
  margin-bottom: 15px;

  @media (min-width: 900px) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    flex-grow: 3;
    font-size: 18px;
    margin-bottom: 0;
  }
}

h1 {
  font-weight: 800;
  font-size: 2.5em;
  margin: 25px 0;

}

p {
  margin-bottom: 15px;
  line-height: 1.5em;
}

button {
  all: unset;
  font-family: "Inter";
  font-weight: 700;
  text-transform: uppercase;
  color: $clr-off-white;
  letter-spacing: 3px;
  padding: 0.7em 1.52em;
  background-color: $clr-soft-red;
  transition: background-color 0.2s;

  &:hover {
    background-color: $clr-black;
  }
}

.article__text {

  @media (min-width: 900px) {
    display: flex;
    justify-items: flex-start;
    gap: 30px;
  }
}

.article__title {

  @media (min-width: 900px) {
    flex: 50%;

    h1 {
      font-size: 3em;
    }
  }
}

.article__content {
  @media (min-width: 900px) {
    flex: 50%;
  }
}