.cards {
  margin: 30px 0;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin-top: 45px;


  }

  img {
    width: 100px;
    height: 100%;
  }

  &__number {
    font-size: 2em;
    font-weight: 800;
    color: $clr-dark-grayish-blue;
  }

  &__card-1,
  &__card-2,
  &__card-3 {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;

    p {
      margin-bottom: 0;
    }

  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}