//COLORS

//Primary - Text
$clr-dark-blue: rgb(29, 30, 53);
$clr-soft-red: rgb(244, 124, 87);

//Primary - Gradient
$clr-soft-violet: rgb(175, 103, 233);
$clr-soft-blue: rgb(101, 101, 231);

//Neutral - Text
$clr-dark-grayish-blue: rgb(74, 75, 94);
$clr-grayish-blue: rgb(120, 120, 135);

//Dividers
$clr-light-grayish-blue: rgb(231, 231, 233);

//General
$clr-white: rgb(255, 255, 255);

//Layout

$desktop-layout: 1440px;